body {
  background: #c05b5b96;
  color: #fff;
  font-family: 'Audiowide', cursive;
}

.topbar-wrapper img {
  content: url('https://w0.peakpx.com/wallpaper/134/218/HD-wallpaper-devil-editing-devil-editing-thumbnail.jpg');
  width: 40px;
  height: 40px;
}

.swagger-ui .topbar {
  /* display: none; */
  background-color: #111;
  border-bottom: 2px solid #ff0000;
}

.swagger-ui .info {
  color: #ff4444;
}

.swagger-ui .opblock {
  background-color: #1a1a1a;
  border-left: 4px solid #ff0000;
}

.swagger-ui .opblock-summary {
  color: #fff;
  background-color: #2b0000;
}

.swagger-ui .btn {
  background-color: #ff0000 !important;
  color: white !important;
}
